<!DOCTYPE html>
<html>
  <%- include('partials/helmet.ejs', {title: 'loading'}) %>
  <body>
    <div class="w-full min-h-screen flex flex-col justify-center items-center">
      <div class="w-full lg:w-4/5 flex-col justify-center items-center px-4">
        <div class="w-full flex-col justify-center divContainer font-bold text-center text-3xl py-2">
          the site is loading. please come back in a couple minutes!
        </div>
      </div>
    </div>
  </body>
</html>